footer {
  position: static;
  left: 0;
  /* bottom: 0; */
  top: 100%;
  width: 100vw;
  height: 10em;
  background-color: #727272;
}

footer .content {
  display: flex;
  justify-content: center;
}

footer .img {
  width: 8em;
  margin: 2em 3em 0.5em 2em;
}

footer .inform {
  width: 50%;
  margin-top: 2em;
  font-size: 0.8em;
  color: #f1f3f5;
}