.title {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

.subtitle{
  font-size: 1.5em;
}

.medium-title{
  font-weight: bold;
  font-size: 2.5em;
  color: black;
}

.medium-subtitle{
  font-size: 1.25em;
  color: black;
}

.small-title{
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.small-subtitle{
  font-size: 1em;
  color: black;
  text-align: center;
}

.card-title{
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  color: black;
  margin: 0.3em;
}

.card-subtitle{
  font-size: 1.25em;
  margin: 0.25em;
}

.caution{
  font-size: 0.5em;
  color: gray;
  text-align: center;
}

.login-title {
  font-weight: 500;
  text-align: center;
  font-size: 3em;
  margin: 0.5em;
}